@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply max-w-full  overflow-hidden text-white/80;
  }

  body {
    @apply flex flex-col justify-between gap-2 w-full max-w-full p-3 pt-0 xs:pt-3 sm:pb-6 lg:p-4 bg-black antialiased;

    min-height: 100svh;
    height: 100svh;
    max-height: 100svh;
  }

  h1 {
    @apply text-h1XS xs:text-h1S md:text-h1L 2xl:text-h1XL;
  }
  h2 {
    @apply text-h2S md:text-h2L 2xl:text-h2XL;
  }
  h3 {
    @apply text-h3S md:text-h3L 2xl:text-h3XL;
  }
  h4 {
    @apply text-h4XS xs:text-h4S md:text-h4L 2xl:text-h4XL;
  }
  p {
    @apply text-bodyS md:text-bodyL 2xl:text-bodyXL;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
