@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply max-w-full  overflow-hidden text-white/80;
  }

  body {
    @apply flex flex-col justify-between gap-2 w-full max-w-full p-4 bg-black;

    min-height: 100svh;
    height: 100svh;
    max-height: 100svh;
  }

  main {
    @apply relative w-full max-w-full h-full max-h-full px-6 py-4 overflow-hidden bg-transparent rounded-3xl;
    // border-radius: 32px;
  }

  h1 {
    @apply mb-2 text-3xl font-bold;
  }
}
